<%= render "shared/javascript_headers" %>

<% if signed_in? && driver? %>
<script type="text/javascript">

   $(document).ready(function(){ navigator.geolocation.getCurrentPosition(

        function(pos){
          $("#latitude").val(pos.coords.latitude);
          $("#longitude").val(pos.coords.longitude);

  });
 });     

</script>
<% end %>

<% provide(:title, 'Home') %>

<% if signed_in? %>
  <% if driver? %>

    <div class="span4 pull-left">

      <h3 class="span2" style="margin-left:0px">Waiting:</h3>

      <column class="span1" style="margin-left:95px; margin-top:5px">

       <%= form_for @location do |f| %>

        
          <%= f.hidden_field :lat, :id => "latitude" %>
       
          <%= f.hidden_field :lng, :id => "longitude" %>

          <%= f.submit "Locate", 
                class: "btn btn-small btn-info" %>
                    
        <% end %>

      </column>

      <br>
      <br>
      <br>
      <br>
        
        <%= render 'shared/feed' %>

    </div>
    <div class= "pull-right" style='width: 500px;'>

      <h3>Pickups:</h3>

      <div  id="map" style='width: 500px; height: 600px;'></div>

    </div>

      <%= render 'shared/gmap_script' %>

    <% else %>

    <div class="span4">

      <h3>Post Order:</h3>

        <br>

      <%= render 'shared/order_form'%>
         
    </div>
    <div class="span4 pull-right">

      <h3>Waiting:</h3>

        <br>
        
      <%= render 'shared/feed' %>

    </div>
    
  <% end %>
  <% else %>

	   <%= render 'shared/sign_in' %>

     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br><br>
     <br>
     <br>
     <br>
     <br>

<% end %>

			



		

