<% provide(:title, 'Home') %>
<div class="container">
<% if signed_in? %>
      <h3>Orders:</h3>
        <%= render 'shared/stats' %>
      <br>
      <% if !driver? %>
      <div class="span4">
      <%= render 'shared/order_form'%>
    </div>
    <% end %>
    <% if driver? %>
     <section class="span6 pull-left">
      <h3>Waiting</h3>
      <%= render 'shared/feed' %>
    </section>
    <% else %>
    <row class="span6 pull-right">
      <h3>Waiting</h3>
      <%= render 'shared/feed' %>
    </row>
    <% end %>
    </div>
<% else %>



	<div class="container">
  		<div class="span4">
    	<%= form_for(:session, url: sessions_path) do |f| %>

      	<%= f.label :phone %>
      	<%= f.text_field :phone, placeholder: "8885551234" %>

      	<%= f.label :password %>
      	<%= f.password_field :password %>

      	<%= f.submit "Sign in!", class: "btn btn-large btn-inverse" %>
   		<% end %>

  		</div>
	</div>

  
  <div class="container offset">

		<%= link_to "Register!", signup_path, class: "btn" %>

  </div>

    <% end %>

			



		

