<%= render "shared/javascript_headers" %>

<% provide(:title, 'All Done') %>

    <h3 style="font-family: Courier New; font-style:italic; margin-left:0; margin-top:20px; padding:0;"> Done: All (

      <% if driver? %>
      <%= current_user.driver_all_done.count %>
      <% else %>
      <%= current_user.restaurant_all_done.count %>
      <% end %>
      )
    </h3> 

      <h4 style="font-family: Courier New; font-style:italic; margin-left:0;">Go to: <%= link_to ' Done Today', done_path, style: "color:black", rel: :external %></h4>

       <% @feed_items.each do |feed_item| %>
 <div class="container pull-left" style="width:380px; background:rgba(172,228,252,.5);">
  
  <li>
      <li class="dropdown">

        <a href="#" class="dropdown-toggle" 
            data-toggle="dropdown" style="color:black;">

           <% if driver? %>
        <%= feed_item.origin_address %>
        </a>
        <ul class="dropdown-menu">
           <%= feed_item.origin_phone %>

        <% else %>
        <%= feed_item.driver_name %>
        </ul>
        <ul class="dropdown-menu">
           <%= feed_item.driver_phone %>
        <% end %>

        </ul>

      </li>
        


        <li class="dropdown">

        <a href="#" class="dropdown-toggle" 
            data-toggle="dropdown" style="color:black;">

        <%= feed_item.address %>
        </a>
        <ul class="dropdown-menu">
           <%= feed_item.phone %>

        </ul>



      </li>


        <%= time_ago_in_words(feed_item.created_at) %> ago.

    

        </li>
        </div>

        <br>
    <br>
    <br>
    <br>

        <div class:"container pull-left" style="width:380px;">

    <% if !feed_item.redeemed? %>
        <% if driver? %>

        <% if feed_item.receipt? %>

            <%= form_for feed_item do |f| %>
     
               <%= f.hidden_field :redeemed, :value => true %>
               <%= f.submit "Receipt!", 
                      class: "btn-small btn-warning", rel: :external %> 
        <% end %>
        <% end %>
      <% end %>
      <% end %>

  
  <% end %>
   <%= will_paginate @feed_items %>
</div>


  


