<%= render "shared/javascript_headers" %>

<% provide(:title, 'Done Today') %>
    
  <div class="span5" style="margin:0 0 0 0px;width:380px;">

   <% if signed_in? %>
  	<% if !driver? %>

     <h3 class="span3" style="margin-left:0; margin-top:20px" id="restaurant">Done: Today</h3> 


  		<%= link_to "Map", dropoffs_done_path, class: "btn btn-inverse", style: "color:white; margin-top:16px; margin-bottom:0;", rel: :external %>

  	<% else %>

     <h3 class="span3" style="margin-left:0; margin-top:20px">Done: Today</h3> 

 		 <%= link_to "P:", pickups_done_path, class: "btn btn-inverse", style: "color:white; width:10px; margin-top:16px; margin-bottom:0;", rel: :external %>

 		 <%= link_to "D:", dropoffs_done_path, class: "btn btn-inverse", style: "color:white; width:10px; margin-top:16px; margin-bottom:0;", rel: :external %>

  	  <% end %>
  	<% end %>

    <h4>Go to: <%= link_to 'All Done', all_done_path, style: "color:black;", rel: :external %></h4>

    <%= render 'shared/feed' %>
    
	</div>
	