<% provide(:title, 'Edit Register') %>
<div class="container" style="margin-top:150px">


<%= form_for(@user) do |f| %>

  <div style="width:160px;height:60px">
    <%= render 'shared/error_messages', object: f.object %>
  	
    <%= f.select :user_type, [["Driver", true],["Restaurant", false]] %>

    <br>
    <br>

  </div>

  <div class="span4" style="background: rgba(172,228,252,.4);
                            color:black; padding:10px 10px 10px 10px;margin:0 0 0 0px; box-shadow: 10px 10px 5px #434343">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :phone %>
    <%= f.text_field :phone, placeholder: "8885551234" %>

    <% if signed_in? && driver? %>
 
    <%= f.label :address, "Restaurant Address", style: "display:none" %>
    <%= f.text_area :address, placeholder: "Full restaurant address", style: "display:none" %>

    <% elsif signed_in? && !driver? %>

    <%= f.label :address, "Restaurant Address" %>
    <%= f.text_area :address, placeholder: "Full restaurant address" %>

    <% end %>
 
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "6 char min" %>

    <%= f.label :password_confirmation, "Confirm password" %>
    <%= f.password_field :password_confirmation %>

  <br>
  <br>
  
    <%= f.submit "Edit!", class: "btn-large btn-inverse" %>

	<br>
  <br>

  
  </div>
  
<% end %>

</div>


