<% provide(:title, 'Register') %>
<div class="container">
  
  <h3 style="margin-top:15px;width:180px;background: rgba(172,228,252,.4); color:black;box-shadow: 10px 10px 5px #434343">
    Registration
  </h3>

<br>

  <%= form_for(@user) do |f| %>

      <%= render 'shared/error_messages', object: f.object%>
  
    <div class="span4">
    
    <%= f.select :user_type, [["Driver", true],["Restaurant", false]] %>
    
    </div>
    
    <br>
    <br>

  </div>

   <div class="span4" style="background: rgba(172,228,252,.4);
                            color:black; padding:10px 10px 10px 10px;margin:0 0 0 0px; box-shadow: 10px 10px 5px #434343">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :phone %>
    <%= f.text_field :phone, placeholder: "8885551234" %>
 
    <%= f.label :address, "Restaurant Address", style: "display:none" %>
    <%= f.text_area :address, placeholder: "Full restaurant address", style: "display:none" %>
 
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "6 char min" %>

    <%= f.label :password_confirmation, "Confirm password" %>
    <%= f.password_field :password_confirmation %>

  <br>
  <br>
  
    <%= f.submit "Start!", class: "btn-large btn-inverse" %>

  </div>
  
<% end %>

</div>

