<div class="container">
<div class="span8">
    <% if @user.orders.any? %>
      <h3>Orders (<%= @user.orders.count %>)</h3>
      <ol class="Orders">
        <%= render @orders %>
      </ol>
      <%= will_paginate @orders %>
    <% end %>
  </div>
</div>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
