<%= render "shared/javascript_headers" %>
<% provide(:title, 'User Info') %>
<div class="container pull-left" style="width:350px">

  <h3> User Register: </h3>
  <br> 

  

<p><h4>
  <%= @user.name %>
</h4></p>

<p><h4>
  <%= @user.user_type ? 'Driver' : 'Restaurant' %>
</h4></p>

<p><h4>
  <%= @user.phone %>
</h4></p>

<p><h4>
  <%= @user.address %>
</h4></p>




<br>
<%= link_to 'Edit', edit_user_path(@user) %> 
</div>


