<li id="<%= feed_item.id %>">

	<span class="content"><%= feed_item.user_id %></span><br>
 
  <span class="content"><%= feed_item.address %></span><br>

  <span class="timestamp">
    <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>

  <% if !driver? %>
   
     <%= button_to "Cancel!", feed_item, class: "btn-danger",method: :delete, data: { confirm: "Do you mean to cancel this order?" },title: feed_item.user_id  %>

                                   <% else %>

     <%= form_for feed_item do |f| %>
     

        <%= f.hidden_field :driver_id, :value => @user.id %>
        <%= f.submit "Run!", class: "btn-small btn-success" %> 

        <% end %>

                                     <% end %>
                                   


  
  
</li><br>