<div style="font-family: Courier New; background: rgba(172,228,252,.5)">
  <% if !feed_item.running %>
  <% if driver? %>

       <%= feed_item.origin_address %>

       <br>

       <%= feed_item.address %>

       <br>

  <% else %>

        <%= feed_item.phone %>

        <br>

        <%= feed_item.address %>

        <br>

  <% end %>
<% end %>

<% if feed_item.running %>
  <% if driver? %>

       <li class="dropdown">

        <a href="#" class="dropdown-toggle" 
            data-toggle="dropdown">

            <%= feed_item.origin_address %>

        </a>

          <ul class="dropdown-menu">              

            <%= feed_item.origin_phone %>

          </ul>

         </li>         

  <% else %>

        <li class="dropdown">

          <a href="#" class="dropdown-toggle" 
            data-toggle="dropdown">

            <%= feed_item.driver_name %>

          </a>

            <ul class="dropdown-menu">              

            <%= feed_item.driver_phone %>

            </ul>

        </li>

  <% end %>

        <li class="dropdown">

          <a href="#" class="dropdown-toggle" 
             data-toggle="dropdown">

                <%= feed_item.address %>

          </a>

            <ul class="dropdown-menu">              

              <%= feed_item.phone %>

            </ul>

        </li>   

<% end %>




<column style="font-family: new courier">$</column>
<%= feed_item.surcharge %>

  <br>
    
<%= feed_item.pay_type ? 
    'Pay cash up-front' : 'Paid with card' %>

  <br>
    
<%= time_ago_in_words(feed_item.created_at) %> ago.

</div>

 <br>  

<% if !feed_item.running %>
  <% if driver? %>
    <% if current_user.driver_run.count >= 3 %>

      Please finish a run!

        <br>
        <br>

    <% else %>

      <%= form_for feed_item do |f| %>
     
        <%= f.hidden_field :driver_id, 
                          :value => current_user.id %>

        <%= f.submit "Run!",
              class: "btn-small btn-success" %> 

      <% end %>

    <% end %>
  <% end %>
<% else %>
  <% if driver? && !feed_item.done %>
    <% if feed_item.paid_card %>

<box style="float:left; margin-right:50px">

      <li class="dropdown" id="done">
        
        <a href="#" class="btn btn-small 
                btn-inverse dropdown-menu-toggle" 
           data-toggle="dropdown">
                
                Done!

        </a>

        <ul class="dropdown-menu"> 

          <%= form_for feed_item do |f| %>

            <%= f.hidden_field :receipt, :value => true %>
            
            <%= f.submit "Receipt", class: "btn btn-inverse" %>

          <% end %>

          <%= form_for feed_item do |f| %>
     
            <%= f.hidden_field :receipt, :value => false %>

            <%= f.submit "NO receipt", class: "btn btn-inverse" %> 

          <% end %>
                  
        </ul>
            
      </li>

    </box>

    <% else %>

<box style="float:left; margin-right:50px">

        <%= form_for feed_item do |f| %>

          <%= f.hidden_field :receipt, :value => false %>

          <%= f.submit "Done!", class: "btn-small btn-inverse" %> 

        <% end %>

      </box>

    <% end %>

    <box>

      <%= form_for feed_item do |f| %>
     
        <%= f.hidden_field :driver_id, :value => nil %>

        <%= f.submit "Stop!", class: "btn-small btn-danger" %> 

      <% end %>

    </box>

  <% end %>
<% end %>
<% if feed_item.done %>
  <% if driver? %>
    <% if feed_item.redeemed? %>
    <% else %>
    <% if feed_item.receipt? %>

      <%= form_for feed_item do |f| %>
     

        <%= f.hidden_field :redeemed, :value => true %>

        <%= f.submit "Receipt!", class: "btn-small btn-warning" %> 

      <% end %>

    <% else %>

    <% end %>
    <% end %>
  <% end %>
  <br>
<% end %>

<% if !driver? && !feed_item.done%>
   
  <%= button_to "Cancel!", feed_item, class: "btn-danger",
                method: :delete, 
                data: { confirm: "Cancel this order?" },
                title: feed_item.user_id  %>

<% end %>




