<li id="<%= feed_item.id %>">

	<span class="content"><%= feed_item.user_id %></span><br>
 
  <span class="content"><%= feed_item.address %></span><br>

   <s>$</s><span class="content"><%= feed_item.surcharge %></span><br>

  <span class="timestamp">
    <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span><br>



  <% if !driver? %>
   
     <%= button_to "Cancel!", feed_item, class: "btn-danger",method: :delete, data: { confirm: "Do you mean to cancel this order?" },title: feed_item.user_id  %>

                                   <% else %>

<% if feed_item.done %>

<% else %>


<% if feed_item.running %>

    <%= form_for feed_item do |f| %>
     

        <%= f.hidden_field :receipt, :value => true %>
        <%= f.submit "Done!", class: "btn-small btn-primary" %> 

        <% end %>



        <% else %>

     <%= form_for feed_item do |f| %>
     

        <%= f.hidden_field :driver_id, :value => current_user.id %>
        <%= f.submit "Run!", class: "btn-small btn-success" %> 
        <% end %>

       <% end %>

        <% end %>

      <% end %>

      



      
                                   
</li>