  	<div class="span5" style="background: rgba(172,228,252,.4); margin:25px 0 0 0px;box-shadow: 10px 10px 5px #434343">
  	  
      <p style="margin: 10px 0 0 10px"> Welcome to</p>
  	  <h1 style= "padding-top:0px;margin: 0 0 0 10px">Runnery!!!</h1>
  	  <h4 style="padding-left:20px">
  	     Shared restaurant delivery
  	  </h4>
  	  
  	  <br>
  	  
  	  <div style="margin:0px 10px 10px 10px">

    	<%= form_for(:session, url: sessions_path) do |f| %>

      	<%= f.label :phone %>
      	<%= f.phone_field :phone, placeholder: "8885551234" %>

      	<%= f.label :password %>
      	<%= f.password_field :password %>

        <br>
        <br>

      	<%= f.submit "Sign in!", class: "btn btn-large btn-inverse", rel: :external %>

   		<% end %>

        <%= link_to "Register!", signup_path, class: "btn", style: "color:black", rel: :external %>

  	</div>
  	</div>
	 