  	<div class="span4" style="margin:0 0 0 0px;">

    	<%= form_for(:session, url: sessions_path) do |f| %>

      	<%= f.label :phone %>
      	<%= f.phone_field :phone, placeholder: "8885551234" %>

      	<%= f.label :password %>
      	<%= f.password_field :password %>

        <br>
        <br>

      	<%= f.submit "Sign in!", class: "btn btn-large btn-inverse", rel: :external %>

   		<% end %>

        <%= link_to "Register!", signup_path, class: "btn", style: "color:black", rel: :external %>

  		</div>
	   </div>