<% if !driver? %>
<div class="stats">
  <a href="/" >
    <div id="waiting" class="stat">
      <%= current_user.restaurant_wait.count %>
    </div>
    Waiting
  </a>
  <a href="<%= running_path %>">
    <div id="running" class="stat">
      <%= current_user.restaurant_run.count %>
    </div>
    Running
  </a>
  <a href="<%= done_path %>">
    <div id="done" class="stat">
      <%= current_user.restaurant_done.count %>
    </div>
    Done
  </a>
</div>

<% else %>

<div class="stats">
  <a href="/" >
    <strong id="waiting" class="stat">
      <%= current_user.driver_wait.count %>
    </strong>
    Waiting
  </a>
  <a href="<%= running_path %>">
    <strong id="running" class="stat">
      <%= current_user.driver_run.count %>
    </strong>
    Running
  </a>
  <a href="<%= done_path %>">
    <strong id="done" class="stat">
      <%= current_user.driver_done.count %>
    </strong>
    Done
  </a>
</div>

<% end %>