<% if !driver? %>
<div class="stats">
  <a href="/" style="color:black;", rel="external" >
    <div id="waiting" class="stat">
      <%= current_user.restaurant_wait.count %>
    </div>
    Waiting
  </a>
  <a href="<%= running_path %>" style="color:black;", rel="external">
    <div id="running" class="stat">
      <%= current_user.restaurant_run.count %>
    </div>
    Running
  </a>
  <a href="<%= done_path %>" style="color:black;", rel="external">
    <div id="done" class="stat">
      <%= current_user.restaurant_done.count %>
    </div>
    Done
  </a>
</div>

<% else %>

<div class="stats">
  <a href="/" style="color:black;", rel="external">
    <div id="waiting" class="stat" >
      <%= current_user.driver_wait.count %>
    </div>
    Waiting
  </a>
  <a href="<%= running_path %>" style="color:black;", rel="external">
    <div id="running" class="stat">
      <%= current_user.driver_run.count %>
    </div>
    Running
  </a>
  <a href="<%= done_path %>"  style="color:black;", rel="external">
    <div id="done" class="stat">
      <%= current_user.driver_done.count %>
    </div>
    Done
  </a>
</div>

<% end %>