<li>
  <span class="content">

  	<%= order.address %><br>

  	<%= order.phone %><br>

  	<s>$</s><%= order.surcharge %><br>

  	<%= order.pay_type ? 'Cash up-front' : 'Paid with card' %><br>

  </span>
  <div class="timestamp">
    <%= time_ago_in_words(order.created_at) %> ago.
  </div>
  <%= render 'run_form' if signed_in? %>
  <% if current_user?(order.user) %>
    <%= link_to "delete", order, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: order.user_id %>
  <% end %>
</li>