<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Surcharge:</strong>
  <%= @order.surcharge %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

<p>
  <strong>Taken:</strong>
  <%= @order.taken %>
</p>

<p>
  <strong>Receipt:</strong>
  <%= @order.receipt %>
</p>

<p>
  <strong>Done:</strong>
  <%= @order.done %>
</p>

<p>
  <strong>Redeemed:</strong>
  <%= @order.redeemed %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
