<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>

  <head>

    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag "/jqtouch/themes/css/jqtouch.min.css", "/jqtouch/themes/css/apple.min.css" %>
      <%= javascript_include_tag  "/jqtouch/lib/jquery/jquery-1.7.min.js", "/jqtouch/src/jqt.min.js", "mobile" %>
      <%= yield(:head) %>

  </head>
  <body>

    <%= render 'layouts/header' %>

    <% flash.each do |key, value| %>

            <%= content_tag(:div, value, 
              class: "alert alert-#{key}") %>

    <% end %>
    
      <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>